<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">
    <div class="d-flex justify-content-center">
        <div class="mt-4 p-4 card col-12 col-sm-10 col-md-8 col-sm-6 col-xl-5 col-xxl-4">

            <h2 class="text-center my-2">Register</h2>

            <form th:action="@{/register}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" />
                </div>
                <div  class="mb-3">
                    <label for="password" class="form-label" >Password</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <hr>
            <span class="text-center text-mute">Already member? <a href="/register">Login now</a></span>
        </div>
    </div>


</div>

</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Registration Page</title>-->
<!--</head>-->
<!--<body>-->

<!--    <div class="register-container">-->
<!--        <h2>My Register</h2>-->
<!--        <form th:action="@{/register}" method="post">-->
<!--            <div>-->
<!--                <label for="username">Username</label>-->
<!--                <input type="text" id="username" name="userName" />-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="password">Password</label>-->
<!--                <input type="password" id="password" name="password" />-->
<!--            </div>-->
<!--            <button type="submit">Register</button>-->
<!--        </form>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->
