<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">
    <div class="container">

        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/dashboard">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Genres</li>
                </ol>
            </nav>
        </div>

        <div class="text-end mb-3">
            <a href="/admin/genres/create" class="btn btn-success">
                <i class="fa-solid fa-plus"></i>
                Add new genres
            </a>
        </div>

        <div th:unless="${list.isEmpty()}"
             class="row">
            <div th:each="item : ${list}"
                 class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card p-2 mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2 align-items-center">
                            <!-- icon -->
                            <label class="btn" th:classappend="${item.iconClass}?'':'btn-outline-danger'">
                                <i th:if="${item.iconClass}" th:class="${item.iconClass}"></i>
                                <i th:unless="${item.iconClass}" class="fa-solid fa-x"></i>
                            </label>
                            <h6 th:text="${item.name}"></h6>
                        </div>
                        <a th:href="@{/admin/genres/update/{id}(id=${item.id})}"
                           class="btn btn-warning">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

<!--                    <a th:href="@{/admin/genres/delete/{id}(id=${item.id})}"-->
<!--                       class="btn btn-danger">-->
<!--                        Delete-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>

</html>