<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">

    <div class="container">

        <div class="d-flex justify-content-start">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/dashboard">Admin</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/admin/books/">Books</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Create
                    </li>
                </ol>
            </nav>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8">
                <form role="form"
                      method="post"
                      th:action="@{/admin/books/save}"
                      th:object="${form}"
                      enctype="multipart/form-data">

                            <span th:if="${#fields.hasErrors('imagePath')}"
                                  th:errors="*{imagePath}"
                                  class="text-danger"></span>
                    <!--  -->
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{authorId}">
                    <input type="hidden" th:field="*{genresId}">
                    <input type="hidden" th:field="*{publisherId}">
                    <input id="upload-file-input"
                           hidden
                           type="file"
                           name="file"/>
                    <!--  -->

                    <div class="row">

                        <h3 class="mb-3 text-center" th:text="${TITLE}"></h3>


                        <!-- Form field -->
                        <div class="col-12 col-md-6">

                            <div class="mb-3">
                                <label for="name" class="form-label">Product name</label>
                                <input id="name" type="text" th:field="*{name}" class="form-control"/>
                                <span th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}"
                                      class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label">Product price</label>
                                <input id="price" type="number" th:field="*{price}" class="form-control"/>
                                <span th:if="${#fields.hasErrors('price')}"
                                      th:errors="*{price}"
                                      class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <h6 class="form-label">Publisher:</h6>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-end gap-2">
                                        <th:block th:if="${form.publisher}">
                                            <img th:src="@{'/uploads/publishers/' + ${form.publisher.imagePath}}"
                                                 alt="publisher image"
                                                 style="width: 40px; height: 40px;"
                                                 class="rounded"/>
                                            <span th:text="${form.publisher.name}" class="h6"></span>
                                        </th:block>
                                        <th:block th:unless="${form.publisher}">
                                            <span>Unselected :(</span>
                                        </th:block>
                                    </div>

                                    <div data-bs-toggle="tooltip"
                                         data-bs-title="Choose other publisher.">
                                        <button class="btn btn-outline-primary"
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#publisherModal">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>

                                </div>
                                <span th:if="${#fields.hasErrors('publisherId')}"
                                      th:errors="*{publisherId}"
                                      class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <h6 class="form-label">Author:</h6>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-end gap-2">
                                        <th:block th:if="${form.author}">
                                            <img th:src="@{'/uploads/authors/' + ${form.author.imagePath}}"
                                                 alt="author image"
                                                 style="width: 40px; height: 40px;"
                                                 class="rounded"/>
                                            <span th:text="${form.author.name}" class="h6"></span>
                                        </th:block>
                                        <th:block th:unless="${form.author}">
                                            <span>Unselected :(</span>
                                        </th:block>
                                    </div>

                                    <div data-bs-toggle="tooltip"
                                         data-bs-title="Choose other author.">
                                        <button class="btn btn-outline-primary"
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#authorModal">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('authorId')}"
                                      th:errors="*{authorId}"
                                      class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <h6 class="form-label">Genres:</h6>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center gap-2">
                                        <th:block th:if="${form.genres}">
                                            <button class="btn btn-outline-danger" disabled>
                                                <i th:class="${form.genres.iconClass}"></i>
                                            </button>
                                            <span th:text="${form.genres.name}" class="h6"></span>
                                        </th:block>
                                        <th:block th:unless="${form.genres}">
                                            <button class="btn btn-outline-danger" disabled>
                                                <i class="fa-solid fa-x"></i>
                                            </button>
                                            <span>Unselected genres :(</span>
                                        </th:block>
                                    </div>

                                    <div data-bs-toggle="tooltip"
                                         data-bs-title="Choose other genres.">
                                        <button class="btn btn-outline-primary"
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#genresModal">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('genresId')}"
                                      th:errors="*{genresId}"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <!-- End Form field -->

                        <!-- Preview and upload image-->
                        <div class="col-12 col-md-6 d-flex align-items-center p-4">
                            <div class="btn rounded w-100 h-100 bg-secondary
                                bg-body-tertiary d-flex justify-content-center
                                 align-items-center"
                                 id="upload-file-zone">

                                <img class="img-fluid" src="" alt="upload image"
                                     th:classappend="${form.imagePath}? '' : 'd-none'"
                                     th:src="@{'/uploads/books/' + ${form.imagePath}}"
                                     id="image-preview">
                                <div class="h1 text-muted text-center"
                                     th:classappend="${form.imagePath}? 'd-none' : ''"
                                     id="upload-file-guide">
                                    <i class="fa-solid fa-cloud-arrow-up"></i>
                                    <h4>Choose image to upload</h4>
                                </div>

                            </div>
                        </div>
                        <!-- End Preview and upload image-->

                        <!-- Optional field -->
                        <div class="col-12">
                            <textarea id="summernote" rows="10"></textarea>
                        </div>
                        <!-- End Optional field -->

                        <!-- Button -->
                        <div class="col-12 d-flex justify-content-between">
                            <a href="/admin/books/" class="btn btn-secondary">
                                <i class="fa-solid fa-chevron-left"></i>
                                Back
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-check"></i>
                                Save
                            </button>
                        </div>
                        <!-- End Button -->

                    </div>
                </form>

            </div>
        </div>

    </div>


    <!-- choose author modal -->
    <div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="authorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="authorModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li th:each="item : ${authors}" class="list-group-item">
                            <div class="d-flex justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="author-id-radio"
                                           th:id="${'id_67' + item.id}"
                                           th:attr="data-author-id=${item.id}">
                                    <label class="form-check-label"
                                           th:for="${'id_67' + item.id}"
                                           th:text="${item.name}"></label>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- choose genres modal -->
    <div class="modal fade" id="genresModal" tabindex="-1" aria-labelledby="genresModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="genresModalLabel">Choose a genres</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li th:each="item : ${genres}" class="list-group-item">
                            <div class="d-flex justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="author-id-radio"
                                           th:id="${'id_67' + item.id}"
                                           th:attr="data-genres-id=${item.id}">
                                    <label class="form-check-label"
                                           th:for="${'id_67' + item.id}"
                                           th:text="${item.name}"></label>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- choose publisher modal -->
    <div class="modal fade" id="publisherModal" tabindex="-1" aria-labelledby="publisherModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="publisherModalLabel">Choose a publisher</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li th:each="item : ${publishers}" class="list-group-item">
                            <div class="d-flex justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="author-id-radio"
                                           th:id="${'id_67' + item.id}"
                                           th:attr="data-publisher-id=${item.id}">
                                    <label class="form-check-label"
                                           th:for="${'id_67' + item.id}"
                                           th:text="${item.name}"></label>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- add js for this file -->
<th:block layout:fragment="_script">
    <script src="/static/js/previewImage.js"></script>
    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                lang: 'ko-KR' // default: 'en-US'
            });

            $("[data-author-id]").click(function () {
                let id = $(this).data('author-id');
                $("#authorId").val(id);
                console.log('Data-id:', id);
            })

            $("[data-genres-id]").click(function () {
                let id = $(this).data('genres-id');
                $("#genresId").val(id);
                console.log('Data-id:', id);
            })

            $("[data-publisher-id]").click(function () {
                let id = $(this).data('publisher-id');
                $("#publisherId").val(id);
                console.log('Data-id:', id);
            })
        });
    </script>
</th:block>

</html>
