<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">
    <div class="text-end">
        <button class="btn btn-primary">click me!</button>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th> Name </th>
                <th> Price </th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${list.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>

            <tr th:each="item : ${list}">
                <td><span th:text="${item.name}"> Name </span></td>
                <td><span th:text="${item.price}"> Price </span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</html>
