<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">

    <div class="container">
        <!-- Banner -->
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div th:each="item: ${banners}"
                     class="carousel-item ratio ratio-21x9"
                     th:classappend="${item.orderNumber} !=1 ? '': 'active'"
                     data-bs-interval="2000">
                    <img th:src="@{'/uploads/banners/' + ${item.imagePath}}"
                         class="d-block w-100"
                         alt="banner">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- End Banner -->

        <!-- Genres -->
        <div class="my-3">
            <h2 class="text-center text-uppercase mb-3">Genres</h2>
            <div class="d-flex justify-content-center gap-2">
                <a th:each="item : ${genres}"
                   href="#"
                   class="btn btn-outline-primary">
                    <i th:class="${item.iconClass}"></i>
                    <span th:text="${item.name}"></span>
                </a>
            </div>
        </div>

        <!-- New product-->
        <div class="my-3">
            <h2 class="text-center text-uppercase mb-3">Newest product</h2>

            <th:block th:if="${list.isEmpty()}">
                <h3> Nothing found </h3>
            </th:block>

            <div class="row row-cols-2 row-cols-md-5"
                 th:unless="${list.isEmpty()}">
                <div th:each="item : ${list}"
                     class="col">

                    <a th:href="@{/products/{id}(id=${item.id})}"
                       class="text-decoration-none">

                        <!-- Card -->
                        <div class="card p-2 mb-3">
                            <div class="ratio ratio-1x1">
                                <img th:src="@{'/uploads/books/' + ${item.imagePath}}"
                                     class="card-img-top object-fit-contain"
                                     alt="product">
                            </div>


                            <div class="card-body text-center">
                                <h5 class="card-title"
                                    th:text="${item.name}"></h5>

                                <span class="h6 card-title text-warning">
                                    $<th:block th:text="${item.price}">Error</th:block>
                                </span>


                                <!--                            &lt;!&ndash; Rating &ndash;&gt;-->
                                <!--                            <div class="mt-2">-->
                                <!--                                <div class="d-flex justfify-content-start gap-2">-->
                                <!--                            <span class="text-warning">-->
                                <!--                                <i class="fa-regular fa-star"></i>-->
                                <!--                            </span>-->
                                <!--                                    <span class="text-warning">-->
                                <!--                                <i class="fa-regular fa-star"></i>-->
                                <!--                            </span>-->
                                <!--                                    <span class="text-warning">-->
                                <!--                                <i class="fa-regular fa-star"></i>-->
                                <!--                            </span>-->
                                <!--                                    <span class="text-warning">-->
                                <!--                                <i class="fa-regular fa-star"></i>-->
                                <!--                            </span>-->
                                <!--                                    <span class="text-warning">-->
                                <!--                                <i class="fa-regular fa-star"></i>-->
                                <!--                            </span>-->
                                <!--                                </div>-->
                                <!--                            </div>-->

                                <!--                            <a th:href="@{/templates/books/{productId}/update(productId=${item.id})}"-->
                                <!--                               class="btn btn-warning">-->
                                <!--                                update-->
                                <!--                            </a>-->
                            </div>
                        </div>
                        <!-- End card -->
                    </a>

                </div>

            </div>
        </div>
        <!--End New product-->

        <div class="bg-info ">
            akjhfkajhfl
            skjadhfkj
            <h1>fkjslh</h1>
        </div>

    </div>
</div>

</html>
