<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main.html}">

<div layout:fragment="content">

    <div class="container">

        <!-- Book  info -->
        <div class="row mb-3">
            <div class="col-6 p-4">
                <!-- Image -->
                <div class="d-flex justify-content-center">
                    <img th:src="@{'/uploads/books/' + ${item.imagePath}}"
                         class="card-img-top object-fit-contain"
                         style="height: 300px;"
                         alt="product">
                </div>

            </div>

            <div class="col-6">
                <h2 th:text="${item.name}" class="mb-2"></h2>
                <h6 class="text-muted py-2">
                    Author:
                    <th:block th:text="${item.author.name}"></th:block>
                </h6>
                <!-- Rating -->
                <div class="d-flex gap-2 my-2">
                    <div class="d-flex gap-2 text-warning">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="text-muted">(1.343)</span>
                </div>
                <!-- End Rating -->

                <div class="d-flex gap-2 my-2">
                    <h5 class="text-danger" th:text="${item.price}"></h5>
                    <h6 class="text-muted">Old price: 1000d</h6>
                </div>

                <!-- Action button -->
                <div class="my-2">
                    <a class="btn btn-light">
                        <i class="fa-regular fa-money-bill-1"></i>
                        Buy now
                    </a>
                    <a class="btn btn-dark"
                       th:data-product-id="${item.id}">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Add to cart
                    </a>
                </div>
                <!-- End Action button -->
    
                <!-- Share -->
                <div class="my-2 d-flex gap-2 align-items-start flex-wrap">
                    <h6 class="text-muted">It's a good book. Share now</h6>
                    <!-- Facebook -->
                    <div class="d-flex gap-2 align-items-center">
                        <span class="badge text-bg-primary">
                            <i class="fa-brands fa-facebook"></i>
                            Share
                        </span>
                    </div>
                    <!-- Pinterest-->
                    <div class="d-flex gap-2 align-items-center">
                        <span class="badge text-bg-danger">
                            <i class="fa-brands fa-pinterest"></i>
                            Share
                        </span>
                    </div>

                    <!-- X -->
                    <div class="d-flex gap-2 align-items-center">
                        <span class="badge text-bg-dark">
                           <i class="fa-brands fa-x-twitter"></i>
                            Share
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Book  info -->

        <!-- Tab -->
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-1 fw-semibold border-0 active"
                            style="--bs-nav-link-hover-color: var(--bs-dark);
                                   --bs-nav-link-color: var(--bs-secondary);"
                            id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button"
                            role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">
                        Description
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-1 fw-semibold border-0"
                            style="--bs-nav-link-hover-color: var(--bs-dark);
                                   --bs-nav-link-color: var(--bs-secondary);"
                            id="profile-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane"
                            type="button" role="tab"
                            aria-controls="profile-tab-pane"
                            aria-selected="false">
                        Reviews
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active"
                     id="home-tab-pane"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    <p th:utext="${item.description}" class="text-dark"></p>
                </div>

                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    Comment here
                </div>
            </div>
        </div>
        <!-- End Tab -->

    </div>
</div>
<th:block layout:fragment="_script">
    <script>
        $(document).ready(function () {
            $('[data-product-id]').click(function () {
                let productId = $(this).attr('data-product-id');
                let cart = getCart();
                let item = cart.find(item => item.productId === productId);
                // if item isn't in cart
                if (!item) {
                    cart.push({ productId: productId, quantity: 1 })
                }
                saveCart(cart)
                alert("Add product to cart successfully.")
            })
        })

        console.log("ok roi")
    </script>
</th:block>
</html>
